@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&display=swap');
body{
    
    width:100vw;
    height: 80vh;
    background-color: rgb(42, 32, 32);
    margin: 0px;
    border:0px;
    padding: 0px;
   background-image: url('../../assets/img/mobile.jpg');
    background-size: cover;
    background-repeat:no-repeat;  
    background-position: top center;
   
}
header{
    height: 100px;
    
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color:white;
    font-size:8%;
    background-color:rgba(153, 149, 149,0.3);
    font-size:10px;

   text-align: center;
}
div.div--header{
    opacity:none;

}

main{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-transform: uppercase;
    margin:0px;
}
h2{
    margin:0px;
}


section{
display:flex;
flex-wrap:wrap;
justify-content: center;
border:2px solid white;
background-color: black 0.4;
}
article{
border-radius: 20px 20px 20px 20px;

}
table{ 
    width: 100%;

}


td{
    padding:0px;
    width: 33.33333333333%;
    height: 120px;
}
button{
    width:90%;
    height: 100px;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-text-stroke: 2px black;
    color:rgb(156, 147, 147);
    font-size:30px;
    border-radius:20px 20px 20px 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin-left:6%;
}
button:active{
    background-color: rgb(182, 199, 248);   
}
#buttonstone{
    background-image: url('../../assets/img/girafa.jpeg');
    background-size: cover;
    background-repeat:no-repeat;  
    background-position: top center;
}
#buttonpaper{
    background-image: url('../../assets/img/leão.jpeg');
    background-size: cover;
    background-repeat:no-repeat;  
    background-position: top center
}
#buttonscissors{
    background-image: url('../../assets/img/zebra.png');
    background-size: cover;
    background-repeat:no-repeat;  
    background-position: top cente
}
i{
width:100%
}

h2{
    height: 30px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color:white;
    
}
h3{
    width:100%
}

#resultado{
   
    width:100%;
    height: 200px;
    font-size:30px;
    text-transform: uppercase;
    color:white;
 
    margin:0px;
    
}

@media (min-width:1121px){
    body{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap:wrap;
    }
    main{
        height: 60vh;
    }
    header{
        width:100%;
        height: 100px;;
        color: white;
    }
   h1,h2 {
       font-size: 30px;;
   }
    
   h2{
       margin-bottom: 20px;
   }
    article{
        width:100%;
        
    }
   
    p#resultado{
        height: 100px;
        border:none;
        display: flex;
        justify-content: center;
        
    }
    button{
        width: 120px;
        height: 120px;
        margin: 0 auto;
       
    }
    button:hover{
        transition: 1s;
        border: 2px solid white;
        box-shadow:1px 2px 15px 5px rgba(255,255,255,0.72);
    }

}
@media(min-width:1200px){
body{
    display: flex;
    align-items: stretch;
    background-image:url('../../assets/img/gif1.gif');


}
header{
    height: 100px;
}
    h1,h2{
        font-size:30px;
    }
    article{
   width: 50vw;
   height: 60vh;
   background-color: rgb(10, 10, 10, 0.5);
   border-radius: 10px 10px 10px 10px;
   display: flex;
   justify-content: center;
    }
   table{
    height:300px;
    margin-bottom: 20px;}

   
    button{
        font-size:30px;
        width: 150px;
        height: 150px;
        
    }
    p#resultado{
        font-size:30px;
        padding: 20px;
        padding-top: 0 ;
        padding-bottom:0;


    }
}